* {
  box-sizing: border-box;
}

body {
  background-color: #cce0a4;
  color: #0c6c34;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  margin: 10px;
  font-size: 12px;
  font-weight: normal;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 10px;
  gap: 20px;
}

input,
button {
  color: #0c6c34;
  background-color: #7fb848;
  border: solid 4px #448363;
  border-radius: 10px;
  width: 70vw;
  height: 15vh;
  font-size: 64px;
  padding-left: 20px;
  font-weight: bold;
}

button {
  width: 50vw;
}

#total {
  font-size: 48px;
  margin: 40px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

::placeholder {
  color: #448363;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  input,
  button {
    height: 5vh;
    width: 20vw;
    font-size: 16px;
    padding-left: 5px;
    border: solid 2px #448363;
  }

  form {
    flex-direction: row;
    gap: 10px;
  }

  #total {
    font-size: 20px;
    margin: 20px;
  }
}

/* @media only screen and (min-width: 992px) {
} */

/* @media only screen and (min-width: 1200px) {
} */
